*
# nunca cargar 
base_fiscalia.dta
#diseño
!xaringan-themer.css
!zoom.html
!hideOutput.js
!theme.css
#Mardowns y páginas web procesos
!index.html
!index.Rmd
!base_senda_fiscalia.rds
!Trabajo 1.html
!Trabajo 1.RData
!Trabajo_1_previo_alt.qmd
!Trabajo_1_previo.html
!Trabajo-1_alt.qmd
# presentación
!pres_mar_23_poly_final.pdf
!pres_mar_23_poly_final.html
!pres_mar_23_poly_final.html
# paquetes R
!renv/*
!renv.lock
# para librerias python
!env/*
!.requirements.txt
!descarga.png
# Información en R
!.gitignore
!.Rprofile
!.Rhistory
!9_Computacion Estadistica,Rproj
# Formato citación y referencias
!.revista-medica-de-chile.csl 
!.libreria_poly.txt # biblitoeca
.Rproj.user
#figuras presentación
!Logo nDP_monotono_isotipo.png
!qr_poly.png

!probs_aj_multistate.dta
!los_aj_multistate.dta